<html lang="en">
  <%- include('includes/head')  %>
<body>
    <%- include('includes/header')  %>
    <main>
<h2>Welcome to your dashboard</h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </main>
    <footer>
    <small>&copy; Our wonderful app</small>
    </footer>
</body>
</html>