<html lang="en">

  <%- include('includes/head')  %>
<body>

    <%- include('includes/header')  %>

       <main>
  <h1>Welcome bastard</h1>
  <article>
<p>When importing the file lib.js, it is important to prefix it with ./ inside require. 
This tells Node.js that we are importing a local module a module created by yourself such as the lib.js module.</p>
  </article>

  
    </main>
    <footer>
    <small>&copy; Our wonderful app</small>
    </footer>
</body>
</html>